@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');
* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    overflow-x: hidden;
    font-family: poppins, Courier, monospace;
    background-image: url("../assets/background.jpeg");
    /* parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media (max-width: 576px) {}

@media (max-width: 768px) {}